<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}
			HomePage
		{% endblock %}
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ URL_ROOT }}/static/css/sticky-footer.css" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ URL_ROOT}}/"/>
</head>

	<!-- For js/ajax and other related scripts -->
  {% block extra %}

  {% endblock %}

<body>
 {% block header %}
 	<nav class="navbar navbar-expand-lg navbar-light row bck_clr fixed-top" style="background-color:#222222; padding-top: 20px; padding-bottom: 20px;">
		<a class="navbar-brand" href="#">
			<img src="{{ URL_ROOT }}/static/img/logo_main.png" width="150" height="33.75" alt="" style="margin-right: 50px; margin-left: 20px">
		</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="form-inline" style="margin-left: 10px; margin-top: 10px">
				<input class="form-control mr-sm-2" type="text" placeholder="Search for animations">
					<button class="btn btn-primary my-2 my-sm-0" type="submit">
			 		Search
					</button>
			</form>

			<ul class="navbar-nav ml-md-auto">
			 	<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" style="color:white">Login / Register</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="{% url 'login' %}">Login</a>
				 		<div class="dropdown-divider">
						</div>
						<a class="dropdown-item" href="register">Register</a>
					</div>
				</li>
		    </ul>
	   </div>
         <!-- {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.first_name}}
                </a>
                {% if request.user.profile.position == 'contributor' %}
	              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	                  <a class="dropdown-item" href="{% url 'guidelines' %}">Guidelines</a>
	                  <a class="dropdown-item" href="{% url 'send_proposal' %}">Send Proposal</a>
	                  <a class="dropdown-item" href="{% url 'proposal_status' %}">Proposal Status</a>
	                  <a class="dropdown-item" href="{% url 'view_profile' %}">View Profile</a>
					  <a class="dropdown-item" href="{% url 'honorarium' %}">Honorarium</a>
					  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
	              </div>
              	{% else %}
              	  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	                  <a class="dropdown-item" href="{% url 'proposal_status' %}">Submitted Proposals</a>
	                  <a class="dropdown-item" href="{% url 'view_profile' %}">View Profile</a>
	                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
                {% endif %}scroll
            </li>
            </ul>
          {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                 <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
          {% endif %}
        </div> -->
    </nav>
	<div class="jumbotron  sticky-top" style="padding-top: 90px; padding-bottom: 0.2%; margin-bottom: 0px; color:#dddddd">
		<div class="btn-group btn-group-lg" role="group">
			<button class="btn btn-link perma_link" type="button"><a href="#" style="color:#157b80">About</a></button>
			<button class="btn btn-link perma_link" type="button"><a href="{% url 'guidelines' %}" style="color:#222222">Guidelines</a></button>
			<button class="btn btn-link perma_link" type="button"><a href="{% url 'faqs' %}" style="color:#222222">FAQ</a></button>
			<button class="btn btn-link perma_link" type="button"><a href="{% url 'honorarium' %}" style="color:#222222">Honorarium</a></button>
			<button class="btn btn-link perma_link" type="button"><a href="{% url 'send_proposal' %}" style="color:#dd1100">Submit Proposal</a></button>
		</div>
	</div>
  	{% endblock %}
	<main role="main" class="container">
    {% block content %}
    <br><br>
		<h1>Base Template Content. Please override me</h1>
	{% endblock %}
	</main>
	{% block footer %}

{% endblock %}

</body>
<br>
</html>
