{% extends 'fossee_manim/base.html' %}

	{% block title %}
		FOSSEE Animation
	{% endblock %}

{% block content %}
    <br>
	<div class="container" align="center">
        <br>
        <div class="row">
            <div class="col-md-12">
                <h1 style="float: left;">{{ categorial_list.0.animation.category }}</h1>
            </div>
        </div>
        <hr>
        <br>
        <div style="width:150px; float: left;">
            {% for video in categorial_list %}
            <div class="row">
                    <a href="{% url 'video' video.id  %}" ><img height="100%" width="200%" src="{{ video.thumbnail.url }}"></a>
            </div>
            <hr>
            {% endfor %}
        </div>   
		<br>
	</div>
{% endblock %}