{% extends "fossee_manim/base.html" %}

{% block title %}
Edit Profile
{% endblock %}

{% block extra %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{URL_ROOT}}/static/workshop_app/js/bootstrap-3.3.7.min.js"></script>
{% endblock %}

{% block content %}
<br>
<div class="container">
  <center>
    <h1> Edit Profile </h1>
  </center>
  <form action="{{URL_ROOT}}/edit_profile/" method="post">
    {% csrf_token %}
    <center>
      <table class="table table-bordered">
        {{ form.as_table }}
      </table>
    </center>
    <br>
    <button class="btn btn-primary pull-right" type="submit" id="btnblue">Save Profile</button>
  </form>
  <br> <br> <br>
</div>
{% endblock %}