{% extends 'fossee_manim/base.html' %}

	{% block title %}
		Animation Guidelines
	{% endblock %}

{% block content %}
	<br>
	<div class="container-fluid">
		<h1><center>Honorarium</center></h1>
		<div class="container">
			<hr>
			<h6>The honorarium is assigned based on the contributor’s performance, curation of the video and the final output. If the contributor submits the video in time and with a succinct outline, he/she will receive an amount of Rs 1500 per video.</h6>
			<h6>There's also a bonus of Rs 500-1000 Rs per video that might be given if deemed fit by the reviewer. </h6>
			<h6>The rubrics for evaluations is given below.</h6> 
			<br>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Amount(Rs)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Proposal Form 2 (Outline + Sketch)</td>
						<td>200-300</td>
					</tr>
					<tr>
						<td>
						Complexity Of the Topic	(Beginner / Intermediate / Advanced)
						</td>
						<td>200-300</td>
					</tr>
					<tr>
						<td>Curation</td>
						<td>350-450</td>
					</tr>
					<tr>
						<td>Final Output</td>
						<td>350-450</td>
					</tr>
					<tr>
						<td>Quality Bonus</td>
						<td>500-1000</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}