{% extends 'fossee_manim/base.html' %}

	{% block title %}
		Animation Guidelines
	{% endblock %}

{% block content %}
	<script>
		$(document).ready(function(){
	  		$('[data-toggle="tooltip"]').tooltip();   
		});
	</script>

	<br>
	<div class="container-fluid">
		<h1><center>Honorarium</center></h1>
		<div class="container">
			<hr>
			<h6>The honorarium is assigned based on the contributor’s performance, curation of the video and the final output. If the contributor submits the video in time and with a succinct outline, he/she will receive an amount of Rs 1500 per video.</h6>
			<h6>There's also a bonus of Rs 500-1000 Rs per video that might be given if deemed fit by the reviewer. </h6>
			<h6><strong>The rubrics for evaluations is given below.</strong></h6> 
			<br>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Amount(Rs)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Proposal Form 2 (Outline + Sketch) 
							<i class="fa fa-info-circle" data-toggle="tooltip" title="It consists of the second proposal form's outline,
								and sketches mentioned under detailed description of your animation (Q6) and rough sketch respectively (Q8)."></i>
						</td>
						<td>200-300</td>
					</tr>
					<tr>
						<td>
						Complexity Of the Topic	(Beginner / Intermediate / Advanced) 
						<i class="fa fa-info-circle" data-toggle="tooltip" title="The complexity of the animation classifies the animation to either of the three categories: 
							beginner medium, advanced. This classification  rests upon the reviewer's discretion"></i>
						</td>
						</td>
						<td>200-300</td>
					</tr>
					<tr>
						<td>Curation 
							<i class="fa fa-info-circle" data-toggle="tooltip" title="This is perhaps the most essential part of the process. 
								This component deals with how you take a concept and transform into a video. Even a trivial topic can have conscientiously curated video."></i>
						</td>
						<td>350-450</td>
					</tr>
					<tr>
						<td>Final Output 
							<i class="fa fa-info-circle" data-toggle="tooltip" title="The final video that the contributor has uploaded. 
								The factors taken into consideration are how concisely it displays the topics, the aesthetics of animations itself, speed of the animation etc."></i>
						</td>
						<td>350-450</td>
					</tr>
					<tr>
						<td>Quality Bonus 
							<i class="fa fa-info-circle" data-toggle="tooltip" title="Quality Bonus is optional and is entirely left on the reviewer's discretion. 
								If the reviewer feels that a video is excellently curated/made, then the reviewer may award a quality bonus."></i>
						</td>
						<td>500-1000</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}