{% extends 'fossee_manim/base.html' %}

	{% block title %}
		FOSSEE Animation
	{% endblock %}

{% block content %}
    <div class="container-fluid">
    <br>
    <h1>How to contribute</h1>
    <ul>
        <li><a class="nav-link" href="{% url 'register' %}">Register</a></li>
        <li><a class="nav-link" href="https://purusharthsaxena.wordpress.com/getting-started-with-manim/" target="_blank">Visit here to know about manim(python based animation library)</a></li>
        <li>Send proposal for a topic</li>
        <li>Wait for the reviewer to respond</li>
        <li>Upload animation video</li>
        <li>Once approved, video will be released</li>
        <li>Get Honorarium</li>
    </ul>
    </div>
{% endblock %}