<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Akshen Doke" content="PRE, FOSSEE-IITB">
        <meta name="title" content="Welcome to FOSSEE's Animation for Education">
        <meta name="description" content="The FOSSEE team at IIT Bombay conducts remote-assisted training programs in Python.
        These are interactive workshop sessions with hands-on experience, live assistance, practice sessions and evaluation quizzes.
        These programs can be conducted at your institution / organisation, free of charge.">
        <meta name="keywords" content="fossee, iit bombay, animation based learning math, manim, python based animations">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ URL_ROOT}}/static/img/fevicon_python.png"/>
    
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    
    
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ URL_ROOT }}/static/css/index.css" type="text/css" />
        <link rel="stylesheet" href="{{ URL_ROOT }}/static/css/sticky-footer.css" type="text/css" />   
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- Search bar -->
    <link rel="stylesheet" href="{{ URL_ROOT}}/static/css/font-awesome.min.css" type="text/css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <title>Welcome</title>
        
    </head>
    <body>
        <div class="container-fluid" style="height:100%; background-color: #3D5A50;">
            <div class="row" id="r1" style="background-color:#ffffff">
                <div class="col-md-2" id="brand"><strong>FOSSEE</strong> <br>Animation</div>
                <div class="col-md-10" style="text-align:center;" id="tag"><strong>Animation based learning</strong></div>
            </div>

            <div class="row" id="r2" style="background-color:#3D5A50">
                <div class="col-md-8">
                    <form class="example" id="search_bar" method="POST" action="/search/">
                        {% csrf_token %}
                        <input type="text" id="sbox" name="sbox" type="search" placeholder="Search" id="search_tab">
                        
                        <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                </div>
                <div class="col-md-2" id="btns" style="text-align:center;">
                    <a href="{% url 'login' %}"><strong>Login</strong></a>
                </div>
                <div class="col-md-2" id="btns" style="text-align:center;">
                    <a href="{% url 'register' %}"><strong>Register</strong></a>
                </div>
            </div>

            <div class="row" id="r3" style="background-color:ghostwhite">
                    <div class="col-md-6">
                        <img src="{{URL_ROOT}}/static/img/SS.png" style="width: 100%;" alt="">
                    </div>
                    <div class="col-md-6" style="background-color:#436355;" >
                        <iframe width="100%" height="55%" 
                        src="https://www.youtube.com/embed/JGLfa66Os0Q" frameborder="0" allow="accelerometer;
                        encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>   
                    </div>
            </div>

            <div class="row" id="r4" style="background-color:ghostwhite">
                <hr style="height:3px;">
                <div class="col-md-3" style="text-align:center;">
                    <a href="{% url 'video' anime.0.id  %}" >
                        <span class="fa fa-play fa-4x" id="play-btn"></span>
                        <img height="25%" width="65%" src="{{ anime.0.thumbnail.url }}">
                    </a>
                </div>
                <div class="col-md-3" style="text-align:center;">
                    <a href="{% url 'video' anime.1.id  %}" >
                        <span class="fa fa-play fa-4x" id="play-btn"></span>
                        <img height="25%" width="65%" src="{{ anime.1.thumbnail.url }}">
                    </a>
                </div>
                <div class="col-md-3" style="text-align:center;">
                    <a href="{% url 'video' anime.2.id  %}" >
                        <span class="fa fa-play fa-4x" id="play-btn"></span>
                        <img height="25%" width="65%" src="{{ anime.2.thumbnail.url }}">
                    </a>
                </div>
                <div class="col-md-3" style="text-align:center;">
                    <a href="{% url 'video' anime.3.id  %}" >
                        <span class="fa fa-play fa-4x" id="play-btn"></span>
                        <img height="25%" width="65%" src="{{ anime.3.thumbnail.url }}">
                    </a>
                </div>
            </div>

            <div class="row" id="r5" style="background-color:#436355;">
                    <div class="col-md-4" style="text-align:center;">
                        <br>
                        <img src="{{ URL_ROOT}}/static/img/fossee_logo_iitb.png" >
                    </div>
                    <div class="col-md-4" style="text-align:center; color:ghostwhite;
                    font-size: 100%;
                    ">
                        <br>
                        FOSSEE,
                        IIT-Bombay <br>Mumbai, India <br>
                        Phone: (+91) 22 2576 4133 <br>
                        Email: workshops[at]fossee[dot]in
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <div id="social">
                            <br> <br>
                            <a href="https://www.facebook.com/FOSSEENMEICT/" target="_blank" class="fa fa-facebook"></a> &nbsp;
                            <a href="https://plus.google.com/u/0/104012350840765676803" target="_blank" class="fa fa-google"></a> &nbsp;
                            <a href="https://www.youtube.com/channel/UCMtt6exSCmZI7JU73S6Wz_A" target="_blank" class="fa fa-youtube"></a>
                    </div>
                    </div>


                    <div class="col-md-12" id="r6" style="background-color:#436355; text-align: center; color:ghostwhite;">
                        <hr>
                        The FOSSEE project is funded by the National Mission on Education through ICT, MHRD, Government of India.  <br>
                        This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License
                        <br><br>
                    </div>
            </div>

            
        </div>
    </body>
</html>