<html>
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Akshen Doke" content="FOSSEE-IITB">
        <meta name="title" content="Welcome to FOSSEE's Animation for Education">
        <meta name="description" content=".">
        <meta name="keywords" content="fossee, iit bombay, animation based learning math, manim, python based animations">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ URL_ROOT}}/static/img/fevicon_python.png"/>
    
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    
    
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ URL_ROOT }}/static/css/index.css" type="text/css" />
        <link rel="stylesheet" href="{{ URL_ROOT }}/static/css/sticky-footer.css" type="text/css" />   
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- Search bar -->
    <link rel="stylesheet" href="{{ URL_ROOT}}/static/css/font-awesome.min.css" type="text/css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Welcome</title>
        
    </head>
    <style>
        #circle:hover {
            color: rgb(13, 108, 233);
        }
  </style>
    <body>
        <div class="row" style="background-color: #081130">
            <div class="col-md-3">
                <center>
                    <img src="{{ URL_ROOT }}/static/img/logo.png" style="width: 50%; background-color: white; margin: 10 10 10 10;">
                </center>
            </div>
            <div class="col-md-6">
                    <form class="example" id="search_bar" method="POST" action="/search/" >
                        {% csrf_token %}
                            <input type="text" id="sbox" name="sbox" type="search" placeholder="Search" id="search_tab">
                            <button type="submit"><i class="fa fa-search"></i></button> 
                      </form>
            </div>
            <div class="col-md-3" >
                <a href="{% url 'login' %}">
                    <button class="btn btn-default pull-right" style="background: #545B6B; color:white;margin-bottom: 5%;margin-top: 10%;margin-right: 5%;">
                        Login
                    </button>
                </a>
                <a href="{% url 'register' %}">
                    <button class="btn btn-default pull-right" style="background: #545B6B; color:white; margin-top: 10%;margin-bottom: 5%;margin-right: 1%; ">
                        Register
                    </button>
                </a>
            </div>
        </div>

        <div class="row" id="center_row">
            <div class="col-md-12">
                        <img  id="container_img" class="img-responsive" src="{{ URL_ROOT }}/static/img/logo_center.png">
                        <p></p>
                       <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Quae debitis porro incidunt quis, 
                        consequuntur reprehenderit temporibus nam quisquam distinctio doloribus consequatur at ut, <br> libero et corrupti eaque odio assumenda ab.
                        </p>
            </div>
        </div>

        <div class="row" style="background-color: white;">
                <div class="col-md-4">
                        <center>
                         <a href="{% url 'guidelines' %}">   <img src="{{ URL_ROOT }}/static/img/guidelines.png" id="circle" style="margin: 5% 0 5% 0"></a>
                        </center>
                </div>
                <div class="col-md-4">
                        <center>
                            <a href="{% url 'faqs' %}"><img src="{{ URL_ROOT }}/static/img/faqs.png" id="circle" style="margin: 5% 0 5% 0"></a>
                        </center>
                </div>
                <div class="col-md-4">
                        <center>
                            <a href="{% url 'login' %}"><img src="{{ URL_ROOT }}/static/img/submit.png" id="circle" style="margin: 5% 0 5% 0"></a>
                        </center>
                </div>
        </div>
        <div class="row" style="background-color: #E4EBEA;">
                <div class="col-md-12">
                        <center>
                            <img src="{{ URL_ROOT }}/static/img/info.png" style="width:80%; margin-top: 5%; margin-bottom: 5%;">
                        </center>
                </div>
        </div>
        <div class="row" style="background-color: #081130;">
                <div class="col-md-4">
                    <center>
                        <img src="{{ URL_ROOT }}/static/img/fossee_logo_iitb.png" style="margin-top: 5%;">
                    </center>
                </div>
                <div class="col-md-4" style="color: white; margin-bottom: 1%;">
                        <br> <br>
                        FOSSEE,
                        IIT-Bombay <br>Mumbai, India <br>
                        Phone: (+91) 22 2576 4133 <br>
                        Email: animations[at]fossee[dot]in
                </div>
                <div class="col-md-4" style="margin-top:3%;">
                        <a style="color:white;" href="https://python.fossee.in/about/" target="_blank">About Us </a>| <a style="color:white;" href="{% url 'honorarium' %}" target="_blank">Honorarium</a>
                </div>
        </div>
        <div class="row" style="background-color: #081130;">
                <hr style="background-color:grey;">
            <div class="col-md-12" style="background-color: #081130; color:white; text-align: center; margin-bottom: 1%;">
                    The FOSSEE project is funded by the National Mission on Education through ICT, MHRD, Government of India.
                    This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License
            </div>
        </div>
    </body>
</html>