{% extends 'fossee_manim/base.html' %}

{% block title %}
FOSSEE Animations | Library of Mathematics Topics
{% endblock %}

{% block content %}
<div class="container-fluid jumbotron" align="justify" style="background-color: transparent">
	<center>
		<h2>Mathematics Topics</h2>
	</center>
	<div class="container" style="font-family: 'Lato', sans-serif; background-color: transparent;">
		<hr>
		<script src="https://gist.github.com/Jar-win/b8207bb59110a459ab7a9089144d1621.js"></script>
	</div>
</div>

{% endblock %}