{% extends 'fossee_manim/base.html' %}

{% block title %}
FOSSEE Animations | Library of Computer Science Topics
{% endblock %}

{% block content %}
<div class="container-fluid jumbotron" align="justify" style="background-color: transparent">
	<center>
		<h2>CS Topics</h2>
	</center>
	<div class="container" style="font-family: 'Lato', sans-serif; background-color: transparent;">
		<hr>
		<script src="https://gist.github.com/Sh-Ac/59779adf6cd8ff74e451567a1868a36d.js"></script>
	</div>
</div>

{% endblock %}