{% extends 'fossee_manim/base.html' %}

{% block title %}
FOSSEE Animation
{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
                <div class="col-md-12">
                        <br>
                        <video width="100%" height="90%" controls>
                                <source src="{{video.0.video_path.url}}" type="video/mp4">
                        </video>
                        <div class="row">
                                <div class="col-md-8">
                                        <p style="color: #157b80; font-size: 200%; float: left;">
                                                {{ video.0.animation.title }} </p>
                                </div>
                                <div class="col-md-4">
                                        <p style="font-size: 70%; float: right;"> {{ video.0.animation.subcategory }}
                                        </p>
                                </div>
                        </div>
                        <br>
                </div>

        </div>
        <div class="row">
                <div class="col-md-10">
                        <hr>
                        <br>
                        <p style="color:black; font-size: 100%; float: left;">
                                {{ video.0.animation.outline|safe }}
                        </p>
                        <br>
                </div>
        </div>
        <hr>
        <div class="row">
                {% if reco %}
                {% for item in reco %}
                <div class="col-md-4">
                        <a href="{% url 'video' item.id  %}">
                                <span class="fa fa-play fa-4x" id="play-btn"></span>
                                <img height="95%" width="95%" src="{{ item.thumbnail.url }}">
                        </a>
                </div>
                {% endfor %}
                {% endif %}
        </div>
        <div>
                <br><br>
                <h2>Comments</h2>
                <div>
                        <form method="POST">
                                <br>
                                {% csrf_token %}
                                {{ comment_form.as_p }}
                                <button type="submit" class="btn btn-success">Post</button>
                        </form>
                </div>
                <hr style="background-color: #fff;
                  border-top: 5px double #8c8b8b;">
                <table>
                        {% for comment in comments %}
                        <tbody>
                                <tr>
                                        <td>
                                                <h5>{{ comment.commentor.profile.user.get_full_name }} |
                                                        {{ comment.created_date | date  }}</h5>
                                                <h6 style="background-color: #ecf0f1; padding:10px;">
                                                        {{ comment.comment }}</h6>
                                                <hr style="border-top: 0.5px solid #8c8b8b;">
                                        </td>
                                </tr>
                        </tbody>
                        {% endfor %}
                </table>
                <br>
        </div>
</div>
{% endblock %}