{% extends 'fossee_manim/base.html' %}

	{% block title %}
		Workshops
	{% endblock %}

{% block content %}
	<div class="container-fluid jumbotron" align = "justify" style="margin-top:20px; background-color: transparent">
		<center><h1>Workshops</h1></center>
		<!-- <div class="container" style= "font-family: 'Lato', sans-serif; background-color: transparent;"> -->
			<hr>
			<center style= "color: #555555;">
			Muddled about what you could possibly animate? <br>
			Feel free to pick up topics from the lists below! <br>
			We like to call it "<i>low-hanging fruit</i>".
			</center>
			<br>
			<div class="container-fluid row">
				<div class="col lg-5">
					<script src="https://gist.github.com/Jar-win/b8207bb59110a459ab7a9089144d1621.js"></script>
				</div>
				<div class="col-lg-6">
					<br>
				<script src="https://gist.github.com/Jar-win/e7601528c911fe35250d19b86b652a02.js"></script>
			</div>
		</div>
	</div>

		{% endblock %}
