/* Navbar */
.navbar-custom {
	background:  #081130;
    color:black;
  	border-radius:0;
}

/* Text color */
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
}

.navbar .dropdown-toggle, .navbar .dropdown-menu a {
  cursor: pointer;
}


/* Brand-CompanyName */
.navbar-custom .navbar-brand {
	color:#efefef;
  background-color: #081130;
}


.navbar-custom .navbar-brand:hover{
  color: white;
}


.navbar .dropdown-item.active, .navbar .dropdown-item:active {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

@media (min-width: 767px) {
  .navbar .dropdown-toggle:not(.nav-link)::after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .5em;
      vertical-align: 0;
      border-bottom: .3em solid transparent;
      border-top: .3em solid transparent;
      border-left: .3em solid;
  }
}

/* Submenu */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}


/* video-thumbnail over image */
#play-btn
{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#circle:hover {
  background-color: #ffe0b2;
  border-radius: 50%;
}