.navbar{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
p,
h3,
h4,
h5,
h6,
.card-body,
form{
    font-family: 'Lato', sans-serif;
}
h1,
h2,
.btn{
    font-family: 'Montserrat', sans-serif;
}
.perma_link:hover{
    background-color:#d1d2d3;
    text-decoration: none;
}
.perma_link a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

#btnblue{
    background-color: #1facb3;
    border-color: transparent;
}
