{% extends "registration/base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
    <h3>Email will be send to the registered email address</h3>
    <form action="" method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            {{ form }}
        </table>
        <button class="btn btn-success btn-sm" type="submit">Request</button>
        <a class="btn" href="{{URL_ROOT}}/login/">Cancel</a>
    </form>
</div>
{% endblock content %}